.welcome_section {
  margin-top: 50px;
  margin-bottom: 60px;
}

.welcome_section .section-container .welcome_section-container {
  background-color: #fff;
  border-radius: 21px;
  border: none;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.welcome_section .section-container .welcome_section-container .welcome_section-main_text {
  font-size: 27px;
  padding: 50px 100px;
  padding-bottom: 75px;
  text-align: center;
}

.welcome_section .section-container .welcome_section-container .welcome_section-main_text span {
  color: #F52100;
}

.welcome_section .section-container .welcome_section-container .welcome_section-video_block {
  background-color: #4F0000;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.welcome_section .section-container .welcome_section-container .welcome_section-video_block video {
  margin-bottom: -5px;
  width: 100%;
  border-radius: 20px;
}

.desc_study {
  margin-bottom: 60px;
}

.desc_study .section-container .desc_study-container {
  background-color: #fff;
  border-radius: 21px;
  border: none;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.desc_study .section-container .desc_study-container .desc_study-main_text {
  font-size: 24px;
  padding: 50px 100px;
  padding-bottom: 0;
}

.desc_study .section-container .desc_study-container .desc_study-main_text span {
  color: #F52100;
}

.desc_study .section-container .desc_study-container .desc_study-main_text a {
  color: #F52100;
}

.desc_study .section-container .desc_study-container .desc_study-main_text a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.desc_study .section-container .desc_study-container .desc_study-main_text:last-child {
  padding-bottom: 50px;
}

.red_block {
  background-color: #4F0000;
  width: 100%;
  height: 300px;
}

.desc_chill {
  margin-bottom: 60px;
  margin-top: 60px;
}

.desc_chill .section-container .desc_chill-container {
  background-color: #fff;
  border-radius: 21px;
  border: none;
}

.desc_chill .section-container .desc_chill-container .desc_chill-main_text {
  font-size: 24px;
  padding: 50px 100px;
  padding-bottom: 0;
}

.desc_chill .section-container .desc_chill-container .desc_chill-main_text span {
  color: #F52100;
}

.desc_chill .section-container .desc_chill-container .desc_chill-main_text a {
  color: #F52100;
}

.desc_chill .section-container .desc_chill-container .desc_chill-main_text a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.desc_chill .section-container .desc_chill-container .desc_chill-main_text:last-child {
  padding-bottom: 50px;
}