.log_reg {
  margin-top: 240px;
  margin-bottom: 240px;
}

.log_reg .section-container .log_reg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.log_reg .section-container .log_reg-container .log_reg-log_container {
  width: 500px;
  height: 400px;
  background-color: rgba(79, 0, 0, 0.7);
  border-radius: 20px;
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-text_block {
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 45px;
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-text_block .log_container-text {
  font-size: 28px;
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-input {
  border-radius: 0px;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 28px;
  padding: 0 20px;
  margin-bottom: 30px;
  height: 50px;
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-input::-webkit-input-placeholder {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.4);
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-input::-moz-placeholder {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.4);
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-input:-ms-input-placeholder {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.4);
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-input::-ms-input-placeholder {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.4);
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-input::placeholder {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.4);
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-input:last-child {
  margin-bottom: 45px;
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-send_button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  margin-bottom: 40px;
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-send_button span {
  color: #fff;
  padding: 8px 35px;
  display: block;
  font-size: 28px;
}

.log_reg .section-container .log_reg-container .log_reg-log_container .log_container-form .log_container-form-send_button:hover {
  cursor: pointer;
}

.log_reg .section-container .log_reg-container .log_reg-or_container {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 25px;
  border-radius: 20px;
}

.log_reg .section-container .log_reg-container .log_reg-or_container p {
  font-size: 40px;
}

.log_reg .section-container .log_reg-container .log_reg-reg_container {
  width: 500px;
  height: 400px;
  background-color: rgba(79, 0, 0, 0.7);
  border-radius: 20px;
}

.log_reg .section-container .log_reg-container .log_reg-reg_container .reg_container-text_block {
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
}

.log_reg .section-container .log_reg-container .log_reg-reg_container .reg_container-text_block .reg_container-text {
  font-size: 28px;
}

.log_reg .section-container .log_reg-container .log_reg-reg_container .reg_container-button {
  display: block;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 124px;
  background-color: transparent;
  padding: 8px 35px;
  border: 2px solid #fff;
  font-size: 28px;
}