.personal_cabinet {
  margin-top: 50px;
  margin-bottom: 250px;
}

.personal_cabinet .section-container .personal_cabinet-container {
  padding: 30px 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px 0;
  grid-gap: 50px;
  display: grid;
  grid-template-columns: 250px 1fr;
  padding-bottom: 100px;
}

.personal_cabinet .section-container .personal_cabinet-container .personal_cabinet-img-block {
  width: 100%;
  height: 333.3333333333px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.personal_cabinet .section-container .personal_cabinet-container .personal_cabinet-img-block .personal_cabinet-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.personal_cabinet .section-container .personal_cabinet-container .personal_cabinet-main_info .main_info-name {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  text-align: center;
  padding: 10px;
  font-size: 32px;
  margin-bottom: 30px;
}

.personal_cabinet .section-container .personal_cabinet-container .personal_cabinet-main_info .main_info-buttons {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.personal_cabinet .section-container .personal_cabinet-container .personal_cabinet-main_info .main_info-buttons .main_info-button {
  border: 2px solid #fff;
  border-radius: 10px;
  display: block;
  height: 50px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
}

.personal_cabinet .section-container .personal_cabinet-container .personal_cabinet-main_info .main_info-buttons .main_info-button:enabled:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

.popup_personal_info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100%;
  width: 100%;
  padding-right: 21px;
  position: fixed;
}

.popup_personal_info .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
}

.popup_personal_info .section-container .popup_personal_info-container {
  max-height: 70%;
  overflow: auto;
  background-color: white;
  border-radius: 20px;
  position: relative;
  padding: 20px 50px;
}

.popup_personal_info .section-container .popup_personal_info-container .popup_personal_info-main_text {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block label {
  font-size: 18px;
  margin-bottom: 5px;
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block label span {
  color: red;
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block input,
.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block select {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block input:hover,
.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block select:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block input::-webkit-outer-spin-button,
.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block input::-webkit-inner-spin-button,
.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block select::-webkit-outer-spin-button,
.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block select::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-blocks .personal_information_form-block select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/down-arrow-svgrepo-com.svg") no-repeat right;
  background-size: 16px;
  background-position-x: calc(100% - 20px);
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-button_sumbit {
  background-color: #af0000;
  color: white;
  border: none;
  margin-top: 50px;
  margin-left: auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 50px;
  font-size: 22px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.popup_personal_info .section-container .popup_personal_info-container .personal_information_form .personal_information_form-button_sumbit:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4);
}

.popup_personal_info .section-container .close-button {
  display: block;
  border-radius: 50%;
  width: 40px;
  margin-bottom: 20px;
  height: 40px;
  background-color: hwb(0 100% 0%/0.5);
  border: 2px solid #fff;
  position: relative;
  margin-left: auto;
}

.popup_personal_info .section-container .close-button span {
  position: absolute;
  width: 28px;
  height: 2px;
  border-radius: 10px;
  display: block;
  background-color: #000;
}

.popup_personal_info .section-container .close-button span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 18px;
  left: 4px;
}

.popup_personal_info .section-container .close-button span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 18px;
  left: 4px;
}

.popup_personal_info .section-container .close-button:hover {
  cursor: pointer;
  background-color: hwb(0 100% 0%/0.7);
}